<template name="newShare">
  {{#ionModal customTemplate=true}}
      <div class="bar bar-header bar-stable">
        <button data-dismiss="modal" type="button" class="button button-clear">取消</button>
        <h2 class="title">分享</h2>
        <button type="submit" class="button button-positive button-clear" data-action="save">下一步</button>
      </div>
      <div class="content has-header">

              		   
		 
		 <div class="line2" style="margin-top:10px;" data-action="share" >
		        <label class="item item-input">
            <p style="width:100%;height:50px;line-height:50px;text-align: center;">拍照</p>
			      </label>
		 </div>
		 

	  </div> 
	 
    
    
  {{/ionModal}}
</template>
