<template name="bjlist">

<!-- font-family: "Microsoft YaHei" ! important;"微软雅黑 -->
<style type="text/css">
  p{width:100%;height:20px;min-width:160px;}
</style>
  
  {{#contentFor "headerTitle"}}
    <h1 class="title">查询列表</h1>
	    <button class="button button-clear pull-right button-positive" data-action="find">查询</button>
  {{/contentFor}}
  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        {{#each veh}}
          <a href="{{pathFor 'content'}}" class="item item-avatar" style="width: 100%;height: 150px; margin: 0;padding: 0;">
          	<div style="width:32%;height:100%;display: block;float: left;padding-top: 4px;">
          	 <!-- <img src="http://img1.szhk.com/Image/2016/01/25/201601251659177551.png" style="width: 100%;height: 100%;" /> -->
             <img src="http://localhost:8000/kd_pzqz/?id={{_id}}" style="width: 100%;height: 100%;">
            </div>
            <div style="padding-left: 38%;padding-top: 0px; width:62%;height:100%;margin: 0;">
              <p>生产单位:{{dwmc}}</p>
              <p>生产人员:{{sc_xm}}</p>
              <p>操作人员:{{cz_xm}}</p>
              <p>工位编号:{{gwbh}}</p>
              <p>发动机号:{{fdjh}}</p>
              <p>开始:{{starTime}}</p>
              <p>完工:{{endTime}}</p>
            </div>
          </a>
        {{/each}}
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>