<template name="newcar">
  {{#ionModal customTemplate=true}}
    <style type="text/css">
      .kuan{margin:0px;padding:0px;height: 49px;width: 100%;line-height: 46px;font-size: 16px;border-bottom: 1px solid #ccc;}
    </style>
      <div class="bar bar-header bar-stable">
        <button data-dismiss="modal" type="button" class="button button-clear" >取消</button>
        <h2 class="title">报废信息录入表</h2>
        <button type="submit" class="button button-positive button-clear" data-action="save">
        开始</button>
      </div>
      <div class="content has-header">
        <label class="item item-input">
              <span class="input-label" >报废生产单位名称:</span>
              <input type="text" id="dwmc" name="dwmc" value="{{dwmc}}" >
        </label>
        <label class="item item-input">
              <span class="input-label" >报废生产人员姓名:</span>
              <input type="text" id="sc_xm" name="sc_xm" value="{{sc_xm}}" >
        </label>
        <label class="item item-input">
              <span class="input-label" >检验操作人员姓名:</span>
              <input type="text" id="cz_xm" name="cz_xm" value="{{cz_xm}}" >
        </label>
        <label class="item item-input">
              <span class="input-label" >报废生产工位编号:</span>
              <input type="text" id="gwbh" name="gwbh" value="{{gwbh}}" >
        </label>
        <label class="item item-input">
              <span class="input-label" >报废车辆车牌号码:</span>
              <input type="text" id="cphm" name="cphm" value="{{cphm}}" >
        </label>
        <label class="item item-input">
              <span class="input-label" >报废车辆发动机号:</span>
              <input type="text" id="fdjh" name="fdjh" value="{{fdjh}}" >
        </label>
        <label class="item item-input">
              <span class="input-label" >记录摄影机编号:</span>
              <input type="text" id="syjbh" name="syjbh" value="{{syjbh}}" >
        </label>
        <label class="item item-input">     
              <span class="input-label" >报废车辆车架号:</span>
              <input type="text" id="cjh" name="cjh" value="{{cjh}}" >
        </label>
        <!-- <select name="select" id="select_k1" class="xla_k">
              <option value="选择品牌">选择品牌</option>
              <option value="选择品牌1">选择品牌1</option>
              <option value="选择品牌2">选择品牌2</option>
        </select> -->

        <label class="item item-input">
          <span>车间&nbsp;:&nbsp;</span>   
          <select id="chejian">
            <option disabled="disabled" selected="selected" id="chejian" name="chejian"></option> 
            {{#each categories}}
                <option value="{{chejian}}">{{chejian}}</option>
            {{/each}}
          </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span>工位&nbsp;:&nbsp;</span>
          <select   id="gongwei">
            <option disabled="disabled" selected="selected"></option> 
            {{#each categories}}
                <option value="{{gongwei}}">{{gongwei}}</option>
            {{/each}}
          </select>
        </label>
      </div>
  {{/ionModal}}
</template>
